In [72]:
from itertools import count
import sqlite3

# created db
conn = sqlite3.connect(':memory:')
# cursor do execution on db so assigned it
cur = conn.cursor()


class TheBase:
 
    def __init__(self):
        count
        memConn = sqlite3.connect(':memory:')
        # conn = sqlite3.connect('customer.db')
        cur = memConn.cursor()
        cur.execute('CREATE TABLE users(id Integer not null, name String, email String)')
        # cur = conn.cursor()
        self = self.count + 1
    
    def create( name, email):
        name = name
        email = email
        
    def insert( name, email):
        name = name
        email = email
        cur.execute("Insert Into users Values(1,'vikash','chota')")
        
    def get( name, email):
        cur.execute('SELECT * FROM users')
        print(cur.fetchall())


TheBase.create( 'vikash', 'chota')
TheBase.insert( 'akash', 'bda')
TheBase.get( 'akash', 'bda')

[(1, 'vikash', 'chota')]

<h1> Database using python </h1>
 create database
 create table
 insert into table
 get table

In [76]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

arts = [
    (1,'SuperCAT',450.09,100.47,'2018-05-29'),
    (2,'SpaceDog',666.66,150.76,'2018-06-01'),
    (3,'MilkyParrot',50.00,8.9,'2018-06-04'),
    (4,'PurplePanda',60.60,12,'2018-06-11'),
    (5,'FireGoldfish',48.48,3.5,'2018-06-14')
]

class TheBase:

    artDB = sqlite3.connect('artwork.db') 
    count = 0
    def __init__(self):
        cur.count = self

    def addData(name, email):
        cur.execute

def getData(e):
    print(e)
create = cur.execute('''CREATE TABLE ARTSALE (
    ID INTEGER NOT NULL,
    ARTNM CHAR(20),
    SALEPRICE DECIMAL(6,2),
    PROFIT DECIMAL(6,2),
    SALEDATE DATE
    );
''')
createPet = cur.execute('''    
CREATE TABLE ART(
    ID INTEGER NOT NULL,
    Art VARCHAR(20),
    QUANTITY INTEGER
    );''')
    
insert = cur.executemany('INSERT INTO ARTSALE VALUES(?,?,?,?,?)', arts )

insertPet = cur.execute('''INSERT INTO ART VALUES
    (1,'Cat',3),
    (2,'Dog',4),
    (3,'Hamster',2);''')

getPet = cur.execute('Select * from ARTSALE')

print(cur.fetchall())
conn.commit()

[(1, 'SuperCAT', 450.09, 100.47, '2018-05-29'), (2, 'SpaceDog', 666.66, 150.76, '2018-06-01'), (3, 'MilkyParrot', 50, 8.9, '2018-06-04'), (4, 'PurplePanda', 60.6, 12, '2018-06-11'), (5, 'FireGoldfish', 48.48, 3.5, '2018-06-14')]

In [107]:
from csv import reader
import re
data = open('artswork.csv', 'r').read()

df = data.split()
# print(df)
# df = pd.DataFrame(data, columns='name')
# openfile = open('artswork.csv', 'r').read().strip()

readfile = reader(df)
# for i in readfile:
#     print(i)

for line in re.findall('Art.', str(df)):
    print(line)

Arti
Art'
Art'
Art'
Arts
Arte
Art'
Art'
Arth
Art'
Arts
Art'
Art'
Art'
Arti
Art'
Art'
Art"
Arti
Arte
Art'
Arti
Art'
Art'
Art'
Art'
Art'
Art"
Art'